__pycache__/
*.pyc
*~
*.zip
*.nt.bz2
*.tar.gz
*.tgz

env/
build/
cbstools-public/
imcn-imaging/
nighresjava/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
eggs/
.eggs/
nighres.egg-info/
nighres.egg
.installed.cfg

.so
.jar

travis.log

doc/_build
doc/auto_examples
doc/gen_modules
doc/modules/generated

nighres_examples
