.wy-nav-top {
    background-color: #d9d9d9 !important;
}

.wy-side-nav-search {
  background-color: #d9d9d9 !important;
}

.wy-side-nav-search>a {
  padding: 0px 0px 0px 0px !important;
  margin-bottom: 0 !important;
}

.wy-side-nav-search img {
  padding: 0px 0px 0px 0px !important;
}

.version {
  color: #4a74b5 !important;
}
